<h1>This is the home page.</h1>

<%= link_to 'Click to see the About page', welcome_about_path %>
<br><a href="https://rubylearneroni-quazixi.c9users.io/welcome/about">Click to see the About page</a>
