<html>
    <title>Home</title>
    <body style="margin:0px; text-align:center;">
        <img src="https://preview.c9users.io/quazixi/rubylearneroni/app/assets/images/Water1.jpg" style="width:100%; max-height:350px; padding-bottom:35px;">
        <h1 style="padding-bottom:25px;">You have found Home</h1>
        <p>Thanks for visiting.</p>
        <p>If you'd like to find the About page, <%= link_to 'Click Here', about_path %>.</p>
        <div style="width:46%; float:left; background-color:rgba(23,45,12,0.2); margin:2%;"><p>Content on the left</p></div>
        <div style="width:46%; float:right; background-color:rgba(83,85,82,0.2); margin:2%;"><p>Content on the right</p></div>
        
    </body>
    
    
</html>